{{! Index file }}
{{!< default}}

<header class="main-header">
  <div class="wrap">
    <h1 class="blog-title">
      <a class="blog-title-link" href="#">{{@blog.title}}</a>
    </h1>
  </div>
</header>

<main class="content" role="main">
  {{#foreach posts}}
  {{! Posts }}
  <article class="post-content {{post_class}}">
    <header class="post-header">
      <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MM YYYY"}}</time> {{tags prefix="on "}}</span>
    </header>
    <section class="post-excerpt">
      <p>{{excerpt}}&hellip;</p>
    </section>
  </article>
  {{/foreach}}

  {{!! Previous/Next links }}
  {{pagination}}
</main>
