{{! Page file }}
{{!< default}}

<main class="content" role="main">
  <article class="page-content {{post_class}}">

    <header class="post-header">
      <a href="" class="blog-logo">
        {{#if @blog.logo}}
          <img src="{{@blog.logo}}" alt="Blog..">
        {{else}}
          <span class="blog-title">{{@blog.title}}</span>
        {{/if}}
      </a>
    </header>

    {{#post}}

      <h1 class="post-title">{{{title}}}</h1>

      <section class="post-content">
        {{content}}
      </section>

    {{/post}}
  </article>

  {{#post}}

  <h1 class="post-tile"></h1>

  <section class="page-"></section>
</main>