<!doctype html>
<html lang="en">
<head>
  {{! Document Settings }}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  {{! Prefetch DNS }}
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//platform.twitter.com">
  <link rel="dns-prefetch" href="//p.twitter.com">
  <link rel="dns-prefetch" href="//cdn.api.twitter.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles }}
  <link rel="stylesheet" href="{{asset "css/main.css"}}">

  {{ghost_head}}
</head>
<body class="{{body_class}}">

  {{! Everything else gets inserted here }}
  {{{body}}}

</body>
</html>
